<image-upload [url]="'/server/upload-litz.php'"
              [maxFileSize]="maxFileSizeByte"
              [extensions]="['jpg','jpeg','png','gif']"
              [dropBoxMessage]="'... oder dun dini Litz Bilder per Drag & Drop dahi!'"
              [buttonCaption]="'Wähl es Litz Bild us...'"
              [fileTooLargeMessage]="'Sorry das isches z grosses Litz. Maximal Grössi isch ' + maxFileSizeMb + 'MB!'" 
              (onFileUploadFinish)="onUploadFinished($event)">
</image-upload>

<ul>
  <li *ngFor="let link of uploadLinks">
    <a [attr.href]="link.permaLink">{{link.originalName}} isch erfolgrich ufeglade wordä!</a>
  </li>
</ul>